include COPYING
include README.md
include RELEASE-VERSION
include version.py
include pavement.py
include paver-minilib.zip
include setup.py
include SConstruct
recursive-include od_sensor_rpc *
recursive-exclude od_sensor_rpc *.pyc
recursive-exclude od_sensor_rpc *.o
