include COPYING
include README.md
include RELEASE-VERSION
include version.py
include pavement.py
include paver-minilib.zip
include setup.py
include SConstruct
recursive-include pulse_counter_rpc *
recursive-exclude pulse_counter_rpc *.pyc
recursive-exclude pulse_counter_rpc *.o
